
<div class="card card-primary col-md-10 offset-md-1">
    <div class="card-header col-md-12">
      <h3 class="card-title">Registro de Empleado</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form method="POST" action="/store">
      <div class="card-body">
        <div class="form-group">
          <label for="exampleInputEmail1">Nombre de empleado</label>
          <input type="text" name="nombre" class="form-control" id="exampleInputEmail1" required>
        </div>

        <div class="form-group">
            <label for="exampleInputEmail3">Fecha de contratación</label>
            <input type="date" name="fechaContratacion" class="form-control" id="exampleInputEmail3" required max="<%= new Date().toISOString().split('T')[0] %>">
          </div>

          <label for="exampleInputEmail3">Salario</label>
          <input type="number" name="salario" class="form-control" id="exampleInputEmail3" 
                 required min="0">
          <div class="form-group">
            <label for="exampleInputEmail3">Horas trabajadas</label>
            <input type="number" name="horasTrabajadas" class="form-control" id="exampleInputEmail3" required min="0">
          </div>

          <div class="form-group">
            <label for="exampleInputEmail3">Departamento</label>
            <input type="text" name="departamento" class="form-control" id="exampleInputEmail3" required>
          </div>

      </div>

      <div class="card-footer">
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
    </form>
</div>


<table class="table table-striped projects col-md-10 offset-md-1 mt-4 "  >
  <thead >
      <tr>
          <th style="width: 1%">
              #
          </th>
          <th style="width: 20%">

Nombre         </th>
          <th style="width: 20%">
              Fecha de contratacion
          </th>
          <th style="width: 20%">
              salario
          </th>
          <th style="width: 20%">
             horas trabajadas
          </th>
          <th style="width: 20%">
              departamento
          </th>

      </tr>
  </thead>
  <tbody>
    <% resul.forEach((e)=>{%>
      <tr>
          <td>
            <%=e.id%>
          </td>
          <td>
            <%=e.nombre%>

          </td>
          <td>
            <% const fechaContratacion = new Date(e.fechaContratacion); %>
            <%= fechaContratacion.toLocaleDateString('es-ES', {day: 'numeric',month: 'numeric', year: 'numeric',   }) %>
            

           </td>
           <td>
            <%=e.salario%>

           </td>
           <td>
            <%=e.horasTrabajadas%>

           </td>
           <td>
            <%=e.departamento%>

           </td>


      </tr>


<%})%>
  </tbody>
</table>
    
