
<div class="card card-primary col-md-10 offset-md-1">
    <div class="card-header col-md-12">
      <h3 class="card-title">Registro de Empleado</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form method="POST" action="/store">
      <div class="card-body">
        <div class="form-group">
          <label for="exampleInputEmail1">Nombre de empleado</label>
          <input type="text" name="nombre" class="form-control" id="exampleInputEmail1" required>
        </div>

        <div class="form-group">
            <label for="exampleInputEmail3">Fecha de contratación</label>
            <input type="date" name="fechaContratacion" class="form-control" id="exampleInputEmail3" required max="<%= new Date().toISOString().split('T')[0] %>">
          </div>

          <label for="exampleInputEmail3">Salario</label>
          <input type="number" name="salario" class="form-control" id="exampleInputEmail3" 
                 required min="0">
          <div class="form-group">
            <label for="exampleInputEmail3">Horas trabajadas</label>
            <input type="number" name="horasTrabajadas" class="form-control" id="exampleInputEmail3" required min="0">
          </div>

          <div class="form-group">
            <label for="exampleInputEmail3">Departamento</label>
            <input type="text" name="departamento" class="form-control" id="exampleInputEmail3" required>
          </div>

      </div>

      <div class="card-footer">
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
    </form>
</div>

<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Tabla empleado</h3>
          <div class="card-tools">
            <form action="" class="form-inline">
              <div class="input-group input-group-sm">
                <input type="text" name="buscar" class="form-control" placeholder="Buscar">
                <div class="input-group-append">
                  <button type="submit" class="btn btn-default">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
  
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
          <table class="table table-head-fixed text-nowrap">
            <thead>
              <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Fecha de contratacion</th>
                <th>Salario</th>
                <th>Horas trabajadas</th>
                <th>Departamento</th>
              </tr>
            </thead>
            <tbody>
              <% resul.forEach((empleados) => { %>
                <tr>
                  <td><%= empleados.id %></td>
                  <td><%= empleados.nombre %></td>
                  <td>
                    <% const fechaContratacion = new Date(empleados.fechaContratacion); %>
                    <%= fechaContratacion.toLocaleDateString('es-ES', { day: 'numeric', month: 'numeric', year: 'numeric' }) %>
                  </td>
                  <td><%= empleados.salario %></td>
                  <td><%= empleados.horasTrabajadas %></td>
                  <td><%= empleados.departamento %></td>
                </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>
  